<!-- havent managed to make this part working since it involves React -->
<div>
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Add a new learner</h2>
    </header>
    <div class="aui-dialog2-content">
        <form id="add-customer-dialog" class="aui top-label new-customer-dialog">
            <div class="field-group top-label">
                <label for="logo">Logo</label>
                <input class="text long-field" type="text" id="logo" name="logo" placeholder="http://path/to/a/logo" />
            </div>
            <div class="field-group top-label">
                <label for="companyName">Company Name</label>
                <input class="text long-field" type="text" id="companyName" name="companyName" placeholder="Atlassian" />
            </div>
            <div class="field-group top-label">
                <label for="description">Description</label>
                <input class="text long-field" type="text" id="description" name="description" placeholder="Collaboration tools for small and large teams" />
            </div>
            <div class="field-group top-label">
                <label for="website">Website</label>
                <input class="text long-field" type="website" id="website" name="website" placeholder="http://www.atlassian.com" />
            </div>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">Submit</button>
            <button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
        </div>
    </footer>
</div>